@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

body { 
	font: 16px "Roboto", Helvetica, Arial; 
	background: rgb(144,40,121);
    background: linear-gradient(75deg, rgba(144,40,121,1) 0%, rgba(253,29,29,1) 50%, rgba(252,182,69,1) 89%);
    background-size: contain;
    min-height: 100vh;
}

#logo {
    width: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -1;
}

form { 
	background: rgba(255,255,255,0); 
    padding: 20px; 
    position: fixed; 
    bottom: 0; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

form input { 
	font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.4);
    flex-grow: 8;
    margin: 0 30px;
}

form input:focus, button:focus {
    outline: none;
}

button { 
	width: 9%; 
    background: rgb(130, 224, 255); 
    border: hidden; 
    padding: 10px; 
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.4);
    flex-grow: 1;
    width: 50px;
    margin: 0 30px;
}

button:hover {
    background: rgb(114, 194, 221);
}

button:active {
    transform: translate(0, 2px);
    box-shadow: 0;
}

#newMessagesNotice {
    position: fixed;
    width: 200px;
    height: 42px;
    margin-left: -100px;
    text-align: center;
    bottom: 100px;
    left: 50%;
}

#messages { 
	list-style-type: none; 
    margin: 0; 
    padding: 50px 15vw 80px;
}

#messages li { 
	display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.bubble {
	max-width: 80%;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.4);
    background-color: #aaffaa;
    word-wrap: break-word;
    align-self: flex-start;
}
